@font-face {
    font-family: 'BinnerDi.ttf';
    src: url('fonts/BinnerDi.ttf') format('truetype');
}

@font-face {
    font-family: 'Geisha.ttf';
    src: url('fonts/Geisha.ttf') format('truetype');
}

@font-face {  
    font-family: 'Jakobc.ttf';
    src: url('fonts/Jakobc.ttf') format('truetype');
}

@font-face {  
    font-family: 'karidiita.ttf';
    src: url('fonts/karidiita.ttf') format('truetype');
}


.film11 {
    font-family: 'Geisha.ttf'; 
}

.film12 {
    font-family: 'BinnerDi.ttf'; 
}

.film13 {
    font-family: 'Jakobc.ttf'; 
}
.karidiita{
    font-family: 'karidiita.ttf';
}


#str{
    font-weight: 600;
}

body {
    background-color: #986868b1; 
    margin: 0;
    padding: 0;/*от контента до границы*/
}

html, body {
    height: 100%; 
}

.container {
    max-width: 1440px; 
    margin: 0 auto; /* центрирование */
    padding: 20px; 
}

h1, h2, h3, h4 {
    color: #333; 
}


ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; 
}

a {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; 
}


#film1 {
    text-align: center; 
}

#film2 {
    text-align: right; 
}

#film3 {
    text-align: left;
}


table {
    width: 100%; 
}

td {
    border: 1px solid #ccc; 
    padding: 10px;
}

img, video {
    width: 400px; 
    height: 200px;
    border-radius: 15px; 
    object-fit: cover; /* Обрезаем изображение для заполнения заданного размера */
   
}
